[Unit]
Description=Python Camera Service

[Service]
WorkingDirectory=/home/root/Camera/
ExecStart=/usr/bin/python main.py
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
