[Unit]
Description=Python Paul Bunyan Service

[Service]
WorkingDirectory=/home/root/paul-bunyan/
ExecStart=/usr/bin/python mainLogger.py
KillMode=process

[Install]
WantedBy=multi-user.target
